
@{ ViewBag.Title = "About";
   Layout = "~/Views/Shared/_Layout.cshtml"; 
 }


<div class="about-section">
    <h1>About Us</h1>
    <p>
        With the advancement in technology and science, people can now do various things
        at the comfort of their homes and one such thing is online shopping. It has gained
        a lot of spotlight due to its ever-increasing demand and craze among people.
        Online shopping refers to the way of purchasing things online without actually going to the physical stores
        . People nowadays are busy earning their livelihood and they hardly get any time to go for shopping, however,
        with the advent of online shopping, they can now order anything be it clothes,
        footwear, gadgets, appliances and much more.
        There are numerous advantages of online shopping, let’s take an insight into it.
        Online shopping is the best option for people who do not have much time and are busy in their office and business work.
        It is a convenient way for the people who cannot withstand crowded places and malls for shopping so
        they can sit at their home or office and can order anything anytime..
    </p>

</div>

<h2 style="text-align:center">Our Team</h2>
<br />
<div class="row">
    <div class="column text-center">
        <div class="card">
            <img src="../Images/116927_man_512x512.png" alt="Ahmed" style="width: 20%">
            <div class="container">
                <h2>Ahmed Sobhy</h2>
                <p class="title">Project Manager</p>
                <p>a7mdsobhy@gmail.com</p>
                <button class="button">Contact</button>
                <br />
            </div>
            <br />  <br />
        </div>
    </div>
    <div class="column text-center">
        <div class="card">
            <img src="../Images/user-icon-512.png" alt="Mike" style="width:20%">
            <div class="container">
                <h2>Mahmoud Selim</h2>
                <p class="title">Database Adminstartor</p>
                <p>mahmoudselim@gmail.com</p>
                <button class="button">Contact</button>
                <br />
            </div>
            <br />  <br />
        </div>
    </div>
    <div class="column text-center">
        <div class="card">
            <img src="../Images/12169276551941958109.png" alt="John" style="width: 20%">
            <div class="container">
                <h2>Salah Ashraf</h2>
                <p class="title">FrontEnd Developer</p>
                <p>salahashraf59@gmail.com</p>
                <button class="button">Contact</button>
                <br />
            </div>
            <br />  <br />
        </div>
    </div>
    <div class="column text-center">
        <div class="card">
            <img src="../Images/Person-Female-Light-icon.png" alt="John" style="width: 20%">
            <div class="container">
                <h2>Nancy Ahmed</h2>
                <p class="title">Designer</p>
                <p>nancyahmed@gmail.com</p>
                <button class="button">Contact</button>
                <br />
            </div>
            <br />  <br />
        </div>
    </div>
    <div class="column text-center">
        <div class="card">
            <img src="../Images/iss_15344_11477.jpg" alt="John" style="width: 20%">
            <div class="container">
                <h2>Tasneem Hassan</h2>
                <p class="title">BackEnd Developer</p>
                <p>tasneemhassan@gmail.com</p>
                <button class="button">Contact</button>
                <br />
            </div>
            <br />  <br />
        </div>
    </div>
    <div class="column text-center">
        <div class="card">
            <img src="../Images/female-employee-icon-5.jpg" alt="John" style="width: 20%">
            <div class="container">
                <h2>Mariem Nader</h2>
                <p class="title">.Net Developer</p>
                <p>marimnader@gmail.com</p>
                <button class="button">Contact</button>
                <br />
            </div>
            <br />  <br />
        </div>
    </div>
</div>